@font-face {
  font-family: 'Roboto';
  src: url(/Fonts/Roboto-Regular.ttf);
}

*{
  font-family: Roboto;
  text-align: center;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
}

header{
  padding: 30px;
  background-color: #f0f0f0;
  letter-spacing: 5px;
}

#sidebar{
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  width: 15%;
  /* height: 100%; */
  visibility: visible;
  background-color: #f0f0f0;
  border: 1px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
}

#picProfile{
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
}

.profile{
  padding-bottom: 30%;
}

.nav{
  width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-top: 1px solid #b5b4b4;
}

#contact{
  border-bottom-right-radius: 20px;
}

a{
  text-decoration: none;
  color: #000000;
}

div.nav:hover{
  background-color: white;
  font-size: 110%;
}

a:hover{
  color: lightgray;
  font-size: 110%;
}

.container{
  margin-bottom: 1%;
  padding-top: 4%;
  /* border: 1px solid #000000; */
}

.content{
  float: left;
  margin: 1%;
  padding: 4% 10% 0% 10%;
  width: 60%;
  /* border: 1px solid #000000; */
}

.introduction{
  padding-bottom: 10%;
  padding-top: 3%;
  line-height: 1.5;
}

ul{
  margin: 0 auto;
  width: 20%;
  /* border: 1px solid #000000; */
}

li{
  text-align: left;
}

.education{
  width: 50%;
}

.profileMobile{
  display: none;
}

#profileMobile{
  width: 60%;
  height: 60%;
  border-radius: 20px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

.experience{
  width: 80%;
  margin: 0 auto; 
}

th, td{
  padding: 1%;
  text-align: left;
  border-top: 1px solid grey;
}

.tbheader{
  padding-top: 2%;
  padding-bottom: 3%;
}

fieldset{
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 2%;

}

legend{
  font-size: 120%;
  font-weight: bold;
}

@media only screen and (max-width: 430px){
  header{
    width: 90%;
  }

  #sidebar{
      display: none;
  }

  .content{
    float: left;
    padding: 4% 4% 0% 4%;
    width: 90%;
  }

  h2{
    padding-top: 10%;
  }

  .profileMobile{
    display: block;
  }

  ul{
    width: 50%;
  }

  .education{
    width: 90%;
  }
}

@media only screen and (max-width: 1200px){
  #sidebar{
    /* height: -20%; */
  }
}
